.card-one_title{
 font-size: 40px;
 font-style: 'Roboto';
 display: flex;
 justify-content: center;
}

.card-one_line{
    position: relative;
    
    display: flex;
    justify-content: center;
    width: 500px;
    border: 1px solid black;
}