.card-one_title{
    font-weight: 400;
 font-size: 24px;
 font-style: 'Montserrat Alternates';
 display: flex;
 justify-content: center;
}

.card-one_line{
    position: relative;
    top: 36px;
    margin: 0 auto;
    width: 1200px;
    border: 1px solid black;
}

.card-one_text{
    font-size: 16px;
    margin-top: 72px;
    display: flex;
    justify-content: center;
}

.card-one_form{
    width: 215px;
}

.card-one_input{
    border: 1px solid transparent;
    background-color: gray;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-top: 42px;
}

.card-one_icon{
    width: 40px;
    height: 30px;
    border: 5px solid gray;
    margin-top: -00px;
    margin-left: -15px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.card-one_see{
    color: #039900;
}

.card-one_span{
    position: relative;
    left: 1000px;
}

