<section class="card-three">
    <div class="card-three__link container">

        <h2 class="card-three__text">Камінь - ножиці - папір</h2>

        <div class="card-three__form">
        <button class="card-three__stone">
            <img src="./images/stone.png" alt="">
        </button>
        <button class="card-three__scissors">
            <img src="./images/scissors.png" alt="">
        </button>
        <button class="card-three__paper">
            <img src="./images/paper.png" alt="">
        </button>

        </div>
        
        <div class="card-three__list">
            <h3 class="card-three__item">Рахунок;</h3>
            <p class="card-three__item">Комп’ютер - <samp>0</samp></p>
            <p class="card-three__item">Ви - <samp>0</samp></p>
        </div>

        <h4 class="card-three__block">Ви виграли раунд!</h4>

        <button class="card-three__btn">Варіант комп’ютера</button>
    </div>
</section>