<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Секція "Обери вченого/их"</title>
</head>
<body>
    <section>
        <header>
            <h1>Обери вченого/их</h1>
        </header>
        <ul class="scientists-list">
               <li class="scientist-item">
                <img src="#" alt="Вчений 1" class="scientist-image">
                 <li class="scientist-item">
                 <img src="#" alt="Вчений 2" class="scientist-image">
              </li>
             <li class="scientist-item">
                 <img src="#" alt="Вчений 3" class="scientist-image">
              </li>
                  <li class="scientist-item">
                <img src="#" alt="Вчений 4" class="scientist-image">
                  </li>
              <li class="scientist-item">
                  <img src="#" alt="Вчений 5" class="scientist-image">
            </li>
            <li class="scientist-item">
                <img src="#" alt="Вчений 6" class="scientist-image">
              </li>
            <li class="scientist-item">
                     <img src="#" alt="Вчений 7" class="scientist-image">
            </li>
            <li class="scientist-item">
                  <img src="#" alt="Вчений 8" class="scientist-image">
               </li>
            <li class="scientist-item">
                <img src="#" alt="Вчений 9" class="scientist-image">
                 </li>
               <li class="scientist-item">
                   <img src="#" alt="Вчений 10" class="scientist-image">
                </li>
            <li class="scientist-item">
                  <img src="#" alt="Вчений 11" class="scientist-image">
               </li>
                   <li class="scientist-item">
                <img src="#" alt="Вчений 12" class="scientist-image">
            </li>
        </ul>

        <!-- Кнопки -->
        <div class="buttons">
            <form>
                <button type="button">Які вчені народилися в 19 ст.</button>
                <button type="button">Відсортувати вчених за алфавітом</button>
                <button type="button">Відсортувати вчених за кількістю прожитих років</button>
                <button type="button">Знайти вченого, який народився найпізніше</button>
                <button type="button">Знайти рік народження Albert Einshtein</button>
                <button type="button">Знайти вчених, прізвища яких починаються на на літеру “С” </button>
                <button type="button">Видалити всіх вчених, ім’я яких починається на “А”</button>
                <button type="button">Знайти вченого, який прожив найдовше і вченого,
                 який прожив найменше</button>
                <button type="button">Знайти вчених, в яких співпадають перші літери імені і прізвища</button>
            </form>
        </div>

    </section>

</body>
</html>
