<section class="card-four">
  <div class="container">
    <h2 class="card-four__title">Калькулятор</h2>
    <div class="card-four__content">
      <input type="text" placeholder="Введіть число" />
      <ul>
        <li class="card-four__operation">
          <button class="card-four__button">+</button>
        </li>
        <li class="card-four__operation">
          <button class="card-four__button">-</button>
        </li>
        <li class="card-four__operation">
          <button class="card-four__button">*</button>
        </li>
        <li class="card-four__operation">
          <button class="card-four__button">/</button>
        </li>
      </ul>
      <input type="text" placeholder="Введіть число" />

      <button class="card-four__button">=</button>

      <span class="card-four__span"></span>
    </div>
  </div>
</section>
