<section class="card-three">
    <div class="card-three__link container">
      <h2 class="card-three__text">Камінь - ножиці - папір</h2>
    <div class="card-three__form">
      <button class="card-three__stone" id="stone">
        <img src="./images/stone.png" alt="камінь" />
      </button>
      <button class="card-three__scissors" id="scissors">
        <img src="./images/scissors.png" alt="ножиці" />
      </button>
      <button class="card-three__paper" id="paper">
        <img src="./images/paper.png" alt="папір" />
      </button>
    </div>

    <div class="card-three__content">
      <div class="card-three__list">
      <h3 class="card-three__item">Рахунок;</h3>
      <p class="card-three__item" >Комп’ютер - <span id="computer">0</span></p>
      <p class="card-three__item" >Ви - <span id="user">0</span></p>
    </div>
    <h4 class="card-three__block" id="card-three-block"></h4>
    </div>
      <div class="card-two__line"></div>
  </div>
</section>
