<section class="card-five">
  <div class="card-five__link container">
      <h2 class="card-five__title">Калькулятор часу</h2>

       <form action="" class="card-five__item">
          <input class="card-five__input" type="text" id="input" placeholder="Введіть число">
           <button class="card-five__btn" id="button">
            <svg width="15px" height="15px">
            <use href="./images/symbol-defs.svg#icon-lupa"></use>
          </svg>
        </button>
        <div class="card-five__list"></div>
        <span class="card-five__time" id="time">0</span>
       </form>
       <div class="card-five__line"></div>
           </div>
</section>
